:root {
  --bg-color: 
  --hd-color:
  --card-color: 
  --card-bg-color: 

}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header p {
  font-size: 2rem;
}


h1, p {
  margin: 0;
  font-weight: normal;
}

input {
  padding: 1rem;
  width: 25vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 16px;
  font-size: 100%;
}

img {
  width: 30px;
  height: 30px;
}

.weatherContainer {
  width: 90%;
  height: 90%;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1.5fr;
  grid-template-areas: 
  'main hourly'
  'daily daily';
}

.mainData {
  grid-area: main;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  gap: 1rem;
  height: 400px;
}

.mainImage {
  width: 150px;
  height: 150px;
}

.iconsForHourly {
  width: 64px;
  height: 64px;
}

.iconsForDaily {
  margin-top: 1rem;
  width: 120px;
  height: 120px;
}

.currentWeatherData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourlyData {
  grid-area: hourly;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.1rem;
  height: max-content;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 2rem;
  height: 400px;
}

.hourlyData div {
  border: 1px solid black;
  border-radius: 18px;
  padding: 1rem;
  max-width: calc(100% / 12);
  min-width: calc(100% / 12);
  height: 150px;
}

.dailyData {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  grid-area: daily;
}

.dailyData div {
  border: 1px solid black;
  border-radius: 18px;
  padding: 1rem 3rem 1rem 3rem;
}