:root {
  --bg-color: #1B262C;
  --hd-color: #0F4C75;
  --card-color: #3282B8;
  --font-color: #BBE1FA; 

}

body {
  height: 100svh;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--hd-color);
  color: var(--font-color);
}

header {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

header p {
  font-size: 2.5rem;
  margin-right: 5.5rem;
}


h1, p {
  margin: 0;
  font-weight: normal;
}

input {
  padding: 1rem;
  width: 25vw;
  height: 5vh;
  border: 1px solid var(--bg-color);
  border-radius: 16px;
  font-size: 100%;
  margin-left: 4.5rem;
}

img {
  width: 30px;
  height: 30px;
}

a {
  font-size: 2rem;
  cursor: pointer;
}

#texts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weatherContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5.5rem 0 5.5rem;
  padding-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  'main hourly'
  'daily daily';
}

.mainData {
  grid-area: main;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  gap: 1rem;
  height: max-content;
  background-color: var(--card-color);
  box-shadow: 5px 5px 5px var(--bg-color);
}

.mainImage {
  width: 150px;
  height: 150px;
}

.iconsForHourly {
  width: 64px;
  height: 64px;
}

.iconsForDaily {
  margin-top: 1rem;
  width: 120px;
  height: 120px;
}

.currentWeatherData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourlyData {
  grid-area: hourly;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.1rem;
  height: max-content;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 2rem;
  height: 400px;
}

.hourlyData div {
  border: 1px solid var(--bg-color);
  border-radius: 18px;
  padding: 1.5rem;
  max-width: calc(100% / 12);
  min-width: calc(100% / 12);
  height: 150px;
  background-color: var(--card-color);
  box-shadow: 5px 5px 5px var(--bg-color);
}

.dailyData {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
  margin-top: 4rem;
  grid-area: daily;
  height: max-content;
}

.dailyData div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--bg-color);
  border-radius: 18px;
  width: calc(100% / 6);
  padding: 1rem 3rem 1rem 3rem;
  height: fit-content;
  background-color: var(--card-color);
  box-shadow: 5px 5px 5px var(--bg-color);
}

.texts {
  display: flex;
  align-items: center;
}

